*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}
.container{
    display: flex;
    justify-content: space-around;
    height: 625px;
    align-items: center;
    overflow: hidden;
}
.contenedor-ilustraciones{
    width: 20%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.blob{
    position: relative;
    z-index: -1;
  
}
.contenedor-ilustraciones :nth-child(1){
    width: 50%;
    left: 90%;
}
.contenedor-textos{
    text-align: center;
    width: 40%;
}
.contenedor-textos h1{
    font-size: 50px;
}
.contenedor-textos p{
    margin: 10px 0 30px 0;
}
.cta{
    display: inline-block;
    background: blue;
    padding: 15px 0;
    width: 150px;
    color: aliceblue;
    border-radius: 1.2rem;
}
@media screen and (max-width:800px) {
    .container{
        flex-direction: column;
        height: auto;
    }
    .contenedor-ilustraciones{
        order: -1;
        width: 70%;
        margin: 80px 0 30px 0;
    }
    .contenedor-textos{
        width: 90%;
    }
    .contenedor-textos h1{
        font-size: 30px;
    }
   .contenedor-textos p{
    margin: 10px 0 15px 0;
   }
    
}